{% extends "taslak.html" %} <!--Oluşturduğumuz taslağı dahil ettik-->
{% block baslik %} Kayıt {% endblock %}

{% block icerik %} 
    <div class="main">
        <form action="{{ url_for('kayit') }}" method="post">  <!--url_for: url oluşturma metodu-->
            <input type="text" name="isim" placeholder="Kullanıcı adınızı girin..." required><br>
            <input type="email" name="email" placeholder="E-Mailinizi girin..." required><br>
            <input type="password" name="sifre" placeholder="Şifrenizi girin..." required><br>
            <button> Kaydol </button>
            {% if hata %}
            <label>{{ hata }}</label>
            {% endif %}
        </form>    
    </div>
{% endblock %} 