{% extends "taslak.html" %} <!--Oluşturduğumuz taslağı dahil ettik-->
{% block baslik %} Ürün Ekle {% endblock %}

{% block icerik %} 
<div class="main">
    <form action="{{ url_for('urun_ekle') }}" method="post">  <!--url_for: url oluşturma metodu-->
        <input type="text" name="ad" placeholder="Ürün Adı" required><br>
        <input type="text" name="fiyat" placeholder="Ürün Fiyatı" required><br>
        <button> Ekle </button>
        {% if hata %}
        <label>{{ hata }}</label>
        {% endif %}
    </form>    
</div>
{% endblock %} 